<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dtaas.test.board.repository.mapper.UserBoardMapper">
    <select id="findAll" resultType="kr.co.dtaas.test.board.dto.UserBoardVO">
        SELECT A.bid, A.title, A.content, A.crtn_date, A.mdfd_date, B.name
        FROM TB_BOARD A, TB_USER B
        WHERE A.uid = B.uid AND A.deleted = 0;
	</select>

</mapper>